<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.0/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">-->
</head>
<body>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Clients</h3>
        </div>
        <div class="panel-body">
            <form th:action="@{/index}" method="get">
                <label>Mot clé : </label>
                <input type="text" name="motCle" th:value="${motCle}"/>
                <button type="submit" class="btn btn-primary">Recherche</button>
            </form>
        </div>
        <div class="panel-body">
            <p>Voici la liste des Clients</p>
            <table class="table">
                <tr>
                    Un client est défini par : sont id, son nom, son email et son username
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Username</th>
                </tr>
                <tr th:each="client : ${clients}">
                    <td th:text="${client.id}"></td>
                    <td th:text="${client.nom}"></td>
                    <td th:text="${client.email}"></td>
                    <td th:text="${client.username}"></td>
                    <td>
                        <a th:href="@{/edit(id=${client.id})}">Editer</a>
                        <a th:href="@{/delete(id=${client.id})}">Supprimer</a>
                    </td>
            </table>
            <ul class="pagination">
                <li th:class="${currentPage==status.index}?'active':''" th:each="page,status : ${pages}">
                    <a th:href="@{/index(page=${status.index}, motCle=${motCle})}" th:text="${status.index+1}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>