<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template.html"
>
<head>
  <meta charset="UTF-8">
  <title>Modifier Client</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">
  <div class="p-3">
    <form method="post" th:action="@{saveClient}">
      <div class="mb-3 mt-3">
        <label for="id" class="form-label">ID:</label>
        <label th:text="${client.id}"></label>
        <input type="hidden" class="form-control" id="id" placeholder="ID" name="id" th:value="${client.id}">
      </div>
      <div class="mb-3 mt-3">
        <label for="nom" class="form-label">Nom:</label>
        <input type="text" class="form-control" id="nom" placeholder="Nom" name="nom" th:value="${client.nom}">
        <span class="text-danger" th:errors="${client.nom}"></span>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="text" class="form-control" id="email" placeholder="Email Client"
               name="email" th:value="${client.email}">
      </div>
      <div class="mb-3 mt-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Username"
               name="username" th:value="${client.username}">

      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
</body>
</html>
